* {
   box-sizing: border-box;
   margin: 0;
}
body {
   background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+13/hw2/example.jpg);
   background-size: cover;
   width: 200px;
   height: 200px;
}